@model Data.Models.AddressModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


    <form role="form" id="form-buscar" asp-action="EnterAddress" method="POST">
        <div class="form-group">
            <div class="input-group">
                <input asp-for="Address" class="form-control mr-sm-2" type="text" aria-label="Search" placeholder="Search...">
                <button asp-for="Addres" class="btn btn-outline-warning btn-rounded btn-sm my-0" type="submit">Search</button>
            </div>
        </div>
    </form>
